name: Deploy to Azure Container Apps

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy latest image to ACA
        run: |
          az containerapp update \
            --name streakly-app \
            --resource-group rg-streakly \
            --image bykeny/habit-goal-tracker:latest